[2014-12-26 20:02] mparramont opened #2 "Add Patreon/Coinbase/Gratipay contributing option"
This site needs a proper domain :D

[2015-03-06 19:08] nogweii opened #13 "Assests should be loaded over HTTPS"
I have a plugin installed, [HTTPS Everywhere](https://www.eff.org/https-everywhere) that ensures that every request to *.github.io is over HTTPS and not HTTP. Combined with Firefox's default of not loading unsafe assets over HTTP when browsing HTTPS, the gem of the week page looks a bit bland:

![https_errors_planetruby_gems](https://cloud.githubusercontent.com/assets/14547/6531829/69beb8d0-c3f9-1

[2015-03-13 18:55] geraldb commented on #13
Thanks for reporting. Not sure what I can do. It's a static site generated w/ Jekyll. Cheers.

[2015-06-29 11:28] calonso opened #14 "Ruby/Rails Push Notifications and SEO Friendly gems"
Hi @geraldb I've developed a pair of gems (rails and standalone ruby) to make it easier to send push notifications to iOS, Android and Windows Phone devices, do you find them interesting to be added to your planetruby gems list? (https://github.com/calonso/ruby-push-notifications)

I also have another very interesting SEO one, which basically allows users to convert absolutely any url in their pro

[2015-06-29 12:41] geraldb commented on #14
Hello, @calonso,  thanks for your interest. The Gem of the week series is an article series, thus, you're welcome and invited to introduce the ruby-push-notifications gem or the rails_friendly_urls gem by writting an article (or two) for the series.  See all the articles as examples here -> https://github.com/planetruby/gems  A article is really just a simple text file in Markdown. Cheers.

[2019-03-17 06:34] ashmaroli opened #16 "Add syntax-highlighting to fenced code-blocks"
Currently the code-blocks do not have syntax-highlighting and are therefore rendered as monotonous plaintext.

[2019-03-17 12:12] geraldb commented on #16
@ashmaroli  Thanks for reading all. The latest post / article definitely has syntax highlighting, see <https://github.com/planetruby/gems/blob/master/18-hexapdf.md>   Or am I missing something?  Yes, for adding if the old articles miss the syntax highlighting. PS: By the way, thanks for your great work on jekyll. Keep it up. Cheers. Prost.

[2019-03-17 16:58] ashmaroli commented on #16
Yes. I was referring to the articles updated in the commit: https://github.com/planetruby/gems/commit/11b11acf66392384c513af07bfe8cd2dad78f4a4

[2019-03-17 17:00] ashmaroli commented on #16
Likewise, thank you for all the work in curating gems and plugins in the Ruby Universe.
Highly appreciate it.

[2019-03-17 17:49] geraldb commented on #16
Thanks for your kind words. I see. You're right still using the old `~~~` style and no syntax highlighting. I will try to update the articles over the next weeks (with the new (re)start / updates of the Gem of the Week series). Cheers. Prost.  PS: You're of course invited to write-up a gem of your choice for the series :-).

[2020-11-21 20:57] rlgreen91 opened #18 "Day 10 - 25 Days of Ruby Gems"
Hello!

I'd love to participate in your Ruby Advent Calendar 2020 activity next month!  I'd like to write an article about the gem [Parslet](http://kschiess.github.io/parslet/), a gem that allows you to build a PEG parser and transformer.  If possible, I'd like to submit my article for Day 10.

Would a Medium article be acceptable?  I plan to write a small tutorial on how to use it.

[2020-11-22 08:33] geraldb commented on #18
You are more than welcome.     Day 10 is yours.    You are welcome to post your article / tutorial anywhere - however, for the advent calendar I need a text file (with formatting conventions in markdown). See as example <https://github.com/planetruby/gems/tree/master/week>. I'm not a medium user - I don't know if you edit / write in medium in Markdown? already or some visual "WISIWIG" editor.

[2020-11-22 18:09] rlgreen91 commented on #18
Ah, Medium does typically use WYSIWYG editor, but I can write it in Markdown first.  I have a rough outline in my head of the article, and plan to write it this weekend after a good holiday nap.  :)  What day should I have the file to you by?

[2020-11-22 18:16] geraldb commented on #18
Sound great. You are more than welcome to publish the article on medium first (no need to hold back / quarantine).   To get your article published here on the advent calendar would be great a day before the deadline (that is, day 10) - I might / will slightly edit to fit the format.  If you want or need I can add you as a team member here on this github org so you can edit / change anytime (inline

[2020-11-25 15:25] picandocodigo opened #20 "Day 9 - Ruby Advent Calendar 2020"
Hi,

I don't know if this fits the content for the Advent Calendar since it's part of my job, but I'm the maintainer of the Ruby Elasticsearch libraries at Elastic and we recently published the [Enterprise Search gem](https://github.com/elastic/enterprise-search-ruby/). Would it be ok to write about this? A brief intro about how it works and a short tutorial on how to interact with the services fr

[2020-11-25 15:48] geraldb commented on #20
Fantastic. Of course. Both work.   You are welcome to pick / claim two days as you like - let me now if you pick one or better two :-).    No worries they demand is not so great and I have to fill up / write up about 10+ days anyway.   Your support and contributions greatly welcome.    Ideally two days one with the elastic gem and the other the gamesdb gem.    Anyways, let me know what works for y

[2020-11-25 16:08] picandocodigo commented on #20
Hi Gerald, that's great! Thanks.

I can do a day next week for elastic/enterprise-search, December 2 or December 3 work for me, let me know which one is better.

And then I can write about gamesdb for the following week, maybe December 9?

Greetings from Edinburgh, Scotland :wave:

[2020-11-25 16:13] geraldb commented on #20
Fantastic I put you down for December 2nd and December 9th.   If it gets to tight you are welcome to move back (unless the day is claimed).    Again thanks for contributing.  You can send me a link to a gist or to github page or you can send in a pull request or ... whatever works for you.  The articles are all in markdown and optional you can add images too (that will get copied in the /i folder)

[2020-11-25 16:15] picandocodigo commented on #20
Great! Are there any guidelines I should follow as to min/max words or anything else?

[2020-11-25 16:20] geraldb commented on #20
Not really - you can go as long as need / want. For 10+ examples from the Gem of the week series, see <https://github.com/planetruby/gems/tree/master/week>.

[2020-11-26 11:49] picandocodigo commented on #20
@geraldb I wrote a draft for the enterprise-search gem post here in case you want to review it:
https://gist.github.com/picandocodigo/5c8a06b7f110973125597335059b254d

Let me know what you think and I'll confirm the final version by Monday at the latest.

[2020-11-26 12:03] geraldb commented on #20
Sorry for not being much help. No worries.  Yeah your post looks great from my quick read. Thanks again for contributing.

[2020-11-26 23:11] picandocodigo commented on #20
@geraldb Thanks! Yeah, I will add a couple of screenshots :+1:

[2020-11-28 23:59] picandocodigo commented on #20
![image](https://user-images.githubusercontent.com/689327/100528512-b5091b00-31d5-11eb-9502-ba7fa8a90b48.png)

![image](https://user-images.githubusercontent.com/689327/100528508-af133a00-31d5-11eb-92b2-0fe88265fabe.png)

[2020-11-29 08:03] geraldb commented on #20
Thanks for the update.  Looking great.

[2020-11-29 08:06] geraldb commented on #20
Since you have two articles / post - I am not sure if you are interested - you are of course more than welcome to join the planetruby (github) org than you can edit "inline" in the repo here as committer - let me know and I send you the invite via github.   Cheers. Prost.

[2020-11-29 20:56] marcoroth opened #24 "Day 20 - Ruby Advent Calendar 2020 - LHS and LHC"
Hey there 😊

I came across the two gems [`LHS`](https://github.com/local-ch/lhs) and [`LHC`](https://github.com/local-ch/lhc) at a local Ruby Meetup pre-covid. I used them in a handful of projects since and really think they deserve more attention - because they are awesome and not well-known! Let me know if you think they fit in the Ruby Advent Calendar theme.

Cheers, Marco

[2020-11-29 20:58] swanson commented on #24
Marco -- these would be great, maybe pick one and do a write-up?

[2020-11-29 21:01] marcoroth commented on #24
Sure! I thought it would make sense to combine them into a single write-up, because `LHS` depends on `LHC` and thus they are very similar.

[2020-11-29 21:05] swanson commented on #24
Ideally we would do one gem per day, but if they are intended to be used together than I think one combined post is okay too.

[2020-11-29 23:51] ledestin opened #27 "Day 13 - not sure if my gem is a good fit"
Hi,

I'd like to claim day 13 for the advent calendar 2020. But, I'd love a second opinion on whether it's a good fit. It looks like this calendar is more about library gems, and mine is a CLI app. And, it is so simple that I don't think I can write more than a few sentences.

It's a currency converter based on Money gem:
[code]
https://github.com/ledestin/lumione

[2020-11-30 00:58] swanson commented on #27
I think it's appropriate! It's a neat little Ruby utility.

[2020-11-30 03:55] ledestin commented on #27
Thanks, I'll take day 13 then.

[2020-11-30 07:16] geraldb commented on #24
Yes, sure a gem "family" for a post works great too. Please, do. Your write-up on LHS and LHC more than welcome. Please, let us know what day to put down on the calendar.  Welcome.

[2020-11-30 07:27] geraldb commented on #27
The lucky day / number is yours. Thanks.  To write more than a few sentence - you can write about your code - why are using the Money class in your Bank <https://github.com/ledestin/lumione/blob/master/lib/lumione/bank.rb#L33>. Love to hear / read more.   Or as a tip how you can use Rails ActionView helpers in a standalone ruby command-line tool - I didn't know or see before - <https://github.com/

[2020-11-30 11:43] adrianthedev opened #28 "Day 15 – Avo – The most beautiful, easy-to-use Ruby on Rails admin framework"
Hi guys,

Today I'd like to show you [Avo](https://avohq.io), a beautiful next-generation framework that empowers you, the developer, to create fantastic admin panels for your Ruby on Rails apps with the flexibility to fit your needs as you grow.

Out of the box, it has an excellent CRUD interface, ordering, filters, and actions. It knows how to handle your Active Record model relations and gives

[2020-11-30 11:47] marcoroth commented on #24
If it's fine I'd like to claim the 20th or 21st of December

[2020-11-30 14:57] swanson commented on #28
Hey, looks neat -- would you be able to write up a mini-blog post about the library and how to use it or an example? You can see some examples in the `drafts` folder of this repo.

[2020-11-30 14:59] swanson commented on #24
I'll put you down for the 20th, please feel free to submit whenever you've got the post done so we can review. Thanks!

[2020-11-30 15:11] pienkowb opened #29 "Day 22 - active-record-events - Ruby Advent Calendar 2020"
Hello! 👋

I'd be glad to participate in the Ruby Advent Calendar 2020 and write about a gem I've created called [active-record-events](https://github.com/pienkowb/active_record-events).
By adding convenience methods on top of a `datetime` field, the gem allows you to manage custom timestamps in a similar way to how ActiveRecord handles the `created_at` and `updated_at` fields.

Would this be a goo

[2020-11-30 15:23] excid3 opened #30 "Day 4 - Noticed gem"
I built Noticed this year as a way to standardize delivery of notifications in Rails. https://github.com/excid3/noticed

It got 900 stars in just a couple months which is crazy. Definitely is something the community is looking for it seems. Thought it would be a good fit for this.

[2020-11-30 15:24] excid3 opened #31 "Day 8 - ActsAsTenant"
I recently revived the ActsAsTenant Gem (https://github.com/ErwinM/acts_as_tenant) and would like to share it. There are a lot of fixes and improvements that I've added. Plus there are some interesting things to talk about like how to revive an old project and become the maintainer.

[2020-11-30 15:28] swanson commented on #30
I will pencil you in for Day 4

[2020-11-30 15:29] swanson commented on #31
:+1:

[2020-11-30 15:30] excid3 opened #32 "Day 6 - Pay gem"
The Pay gem is one I started to help simplify integrations for payment providers. https://github.com/pay-rails/pay

We've implemented Stripe, Braintree, and just merged Paddle support. It's got a simple interface for adding `subscribe` `charge` and other functionality to your billable models in Rails (ie. User, Team, Account, etc).

[2020-11-30 15:31] swanson commented on #29
Sounds good, day 22 is yours! Please see the `drafts` folder of this repo for examples of the writeup. Thanks!

[2020-11-30 15:37] geraldb commented on #30
Fantastic. Thanks you. Welcome. Day 4 is yours.

[2020-11-30 15:39] geraldb commented on #31
Fantastic. Thanks again for highlighting ActsAsTenant.  Day 8 is yours. Welcome. Cheers. Prost.

[2020-11-30 15:42] geraldb commented on #32
Thanks again. Wow. Day 6 is yours.    Since you have a couple of post - let me know if you want to join the github org here so you can change / edit inline your post anytime as a committer (and I send you along an invite via github  - github orgs work via invite only - you get an email or you can visit the org here and click on the invite banner).

[2020-11-30 15:43] geraldb commented on #29
Fantastic. Welcome. Day 22 is yours. Cheers. Prost.

[2020-11-30 15:43] excid3 commented on #32
Sounds good to me 👍 Thanks for putting this together @geraldb 👍

[2020-11-30 15:48] geraldb commented on #32
Thanks to @swanson for claiming Day 1 for the kick off and bringing in more people and helping with the updates.    PS: You should see the invite banner now on the org page. Welcome.

[2020-11-30 16:35] abhaynikam opened #35 "Day 11 - BoringGenerators gem"
Hey 👋

I wrote a gem called boring generators which intents to generates the basic configurations and reduce the time taken in doing boring setup in a Rails application. The gem uses Rails generators.

Here is short blog I wrote behind my motivation and problem I wanted to solve using the gem: https://www.abhaynikam.me/posts/introducing_boring_generators/

Hope this fit the requirement here. Pleas

[2020-11-30 16:40] swanson commented on #35
I think that would be great to include: could you send a PR to add a writeup (see the `_drafts` folder for examples on format)? You can use the same content from your blog post. I will give you Day 11 if that's okay!

[2020-11-30 16:41] abhaynikam commented on #35
Day 11 sounds good to me. Thank you @swanson 🎉

[2020-11-30 17:14] jonasjabari opened #36 "Day 12 - Matestack Ui Core"
Hey!

I've started building https://github.com/matestack/matestack-ui-core 2 years ago in order to escape the frontend hustle when creating reactive web apps based on Rails. My team and me built quite a few producion apps on top of it already and are super happy with the project, cause it enables us to create reactive web apps in pure Ruby! I would love to share it with more Ruby developers out th

[2020-11-30 17:16] pascalwengerter commented on #36
Working on a PR for this one @jonasjabari 🙌

[2020-11-30 17:47] geraldb commented on #35
Welcome. Thanks - yeah you are more than welcome to (re)use your post for day 11 - BUT yes, it's not a link blog, thus, we would need the markdown source to (re)publish here (and link back to the original) with some edits (header / footer to fit the format).  Cheers. Prost.

[2020-11-30 17:51] geraldb commented on #36
Yeah. You are more than welcome. Day 12 is yours. Cheers. Prost.

[2020-11-30 17:56] pascalwengerter commented on #36
Thanks @geraldb, just opened #37

[2020-11-30 18:04] geraldb commented on #36
Thanks I updated the by-line (the written by line ). Thanks again. Great stuff. Cheers. Prost.

[2020-11-30 18:07] pascalwengerter opened #38 "Day 16 - BridgetownRB"
Taking another one for a project I'm supporting / am excited about!

[2020-11-30 18:10] geraldb commented on #38
Fantastic. Day 16 is yours. Thanks for highlighting Bridgetown.  Cheers. Prost.

[2020-11-30 18:14] geraldb commented on #38
If am offline for today - but since you have two posts you are more than welcome to join the github org here than you can edit / change "inline" anytime as committer - github orgs work with invites (per email) or you can see the invite on the org page - let me know if interested and I send you along the invite first thing tomorrow. Cheers. Prost.

[2020-11-30 18:22] pascalwengerter commented on #36
Damn, pushed that a second to late after realizing I've missed it ;) thanks, again!

[2020-11-30 20:48] picandocodigo commented on #20
@geraldb sure! I updated the gist to include the images, but I can also make a Pull Request to the repo if you let me know where the post should be. Thanks!

[2020-11-30 22:58] igorkasyanchuk opened #41 "Day 17 - any_login"
Hi,

Please check one of my gem https://github.com/igorkasyanchuk/any_login. Can't imagine any project development without it. This is also one of the favorite gems of our QA team. It can just let you log in as any user in your app in development mode and quickly switch users.

Thanks!

[2020-11-30 23:41] swanson commented on #41
Sounds good, I will mark you down for Day 17. Please send a PR with a writeup about this gem (how it works, example, etc) to the `_drafts` folder (you can see some examples of the desired formatting there). Thanks!

[2020-11-30 23:43] swanson commented on #30
Closed by #39

[2020-11-30 23:43] #30 closed

[2020-11-30 23:43] swanson commented on #32
Closed by #39

[2020-11-30 23:43] #32 closed

[2020-11-30 23:44] swanson commented on #31
Closed by #39

[2020-11-30 23:44] #31 closed

[2020-11-30 23:44] swanson commented on #20
@picandocodigo please make a PR to the `_drafts` folder (you can see several examples there for how to format). You can add the image to that folder as well. Thanks!

[2020-11-30 23:51] soulcutter opened #42 "Day 19 - Addressable"
Reserving the day and committing to writing this.

https://github.com/sporkmonger/addressable

[2020-11-30 23:52] swanson commented on #42
Thanks, I will mark you down!

[2020-12-01 00:06] mcmire opened #43 "Day 21 - SuperDiff"
[SuperDiff](https://github.com/mcmire/super_diff) is a gem that plugs into RSpec (or can be used standalone) to highlight differences between complex data structures in a more helpful way. It knows how to diff primitives like arrays, hashes, etc. but also RSpec matcher-placeholder objects such as `having_attributes`, Rails model objects, and custom objects.

I'm working on a post for this right no

[2020-12-01 00:17] janxious opened #44 "Day 23 - archival_record"
Reserving the day and committing to writing this.

https://github.com/janxious/archival_record/

[2020-12-01 00:36] codenamev opened #45 "Day 24 - git_reflow"
[git-reflow](https://github.com/reenhanced/gitreflow) is a Ruby-based git-server agnostic code workflow assistant. The latest release introduces an easy way to create git commands in Ruby with a number of great helpers to automate as you please.

[2020-12-01 00:52] swanson commented on #43
Sounds good, I'll pencil you in for Day 21. Thanks!

[2020-12-01 00:53] swanson commented on #44
Got it, thanks!

[2020-12-01 00:56] swanson commented on #45
Neat, I'll put you down for Day 24. Please send a PR with a writeup on the gem (how it works, example, etc) to the `_drafts` folder (there are several examples there for guidance on formatting). Thanks!

[2020-12-01 01:01] swanson opened #46 "pwned Gem - Ruby Advent Calendar 2020"
Everyone, thanks for your eagerness to participate. We're almost out of slots!

But if you're keen to help, we could use a few backup options in the event that someone is not able to get their post finished in time (totally understandable with the holidays approaching).

If you're interested in writing a backup post, please post here and then submit a PR to the `_drafts` folder with your gem write

[2020-12-01 01:02] swanson commented on #46
@geraldb does sound okay to you to have a couple of backup posts?

[2020-12-01 01:50] #43 closed

[2020-12-01 02:49] philnash commented on #46
I meant to open an issue to offer a post on [pwned](https://rubygems.org/gems/pwned/) but I forgot and it seems we're full now. Happy to write one up for a back up post though. Is that ok?

[2020-12-01 04:48] abhaynikam commented on #35
Sure @geraldb 👍. I am on it. Will send a PR soon.

[2020-12-01 10:00] geraldb commented on #20
Pull request would be great into _drafts otherwise I cut-n-paste on Dec/2 (tommorrow) the source and the images. Thanks again.

[2020-12-01 10:01] geraldb commented on #42
Thanks for highlighting Addressable. Welcome.

[2020-12-01 10:06] geraldb commented on #46
Yeah great idea - the will NOT got to waste if there are any but I add them to the "regular" gem of the week series in january 2021. Cheers. Prost.

[2020-12-01 10:08] geraldb commented on #46
Yeah the write-up of pwned more than welcome - in the worst case I publish your write-up here on the "regular" gem of the week series in january 2021 (or before). Welcome. Thanks again.

[2020-12-01 10:09] geraldb commented on #35
No pressure.  10 days to go :-). Thanks. Cheers.

[2020-12-01 10:54] picandocodigo commented on #20
Done! I'll have the `gamesdb` post ready for review this week :+1:

[2020-12-01 18:42] #35 closed

[2020-12-01 19:18] geraldb commented on #46
The new I think better plan is to do double posts on Sundays to get all published in the Advent Calendar 2020. Thanks again for your write-ups.

[2020-12-01 19:20] swanson commented on #46
I'd be fine with someone taking my 2nd slot as well if that helps!

[2020-12-01 19:24] adrianthedev commented on #28
Thank you!

Yeah, I could do that! Doing it this week.

[2020-12-01 19:26] geraldb commented on #46
@swanson I can swap your slot with on day 7 with @philnash   or you can swap if you like? All fine with me or the "old" idea with double posts / backups as is.

[2020-12-01 21:56] swanson commented on #46
I'll leave it to you to run the day-to-day posting and rearrange as needed. No problem! It's a cool project and glad I could help recruit some more writers. :)

[2020-12-01 22:52] pascalwengerter commented on #36
@geraldb no pressure but this one can be safely closed I think :)

[2020-12-01 22:54] pascalwengerter commented on #38
@geraldb lovely gesture but I'd respectfully decline the offer since there's quite a bunch of other things going on in my life at the moment - I'd prefer contributing "from the outside" rather than become responsible for an org. Cheers & gute Nacht!

Also, this issue is "solved" in #52

[2020-12-02 08:48] geraldb commented on #46
Thanks for you great help. Can't believe that all days are claimed. I leave it as is for now and see how the first week goes (and than do the double posts on maybe sundays once or twice).

[2020-12-02 08:50] geraldb commented on #36
Again thanks for the write-up.

[2020-12-02 08:50] #36 closed

[2020-12-02 08:58] geraldb commented on #38
No worries. Thanks again for the Bridgetown write-up. Cheers. Prost.

[2020-12-02 08:58] #38 closed

[2020-12-02 13:15] igorkasyanchuk commented on #41
any_login was created to speed up the development process by allowing developers to quickly log in as any user.
If you using devise for example (or other auth library) you can just add this gem, generate default config, and use. Setup could be done in just a minute.

## Installation

Add AnyLogin to your Gemfile:

``` gem 'any_login'``` and execute in console:

[code]
In application layout (for ex

[2020-12-02 13:32] geraldb commented on #41
Since any_login is your gem I assume you have written the readme. You are welcome to use your readme as post, please edit slighty BUT sorry it's up to you hand in the write-up (text file in markdown).

[2020-12-05 21:05] adrianthedev commented on #28
## Building good admins is challenging

It's even more challenging building them again and again.

[Avo](https://avohq.io) is a beautiful next-generation framework that empowers you, the developer, to create fantastic admin panels for your Ruby on Rails apps with the flexibility to fit your needs as you grow.

Out of the box, it has an excellent CRUD interface, ordering, filters, and actions. It k

[2020-12-05 21:06] adrianthedev commented on #28
Hey Matt,

Let me know if this is ok. I hope I haven't gone overboard with it.

Thank you for this!

[2020-12-05 22:06] swanson commented on #28
Looks good to me, maybe the Index image is a bit too long.

If possible, add a PR to put the article and images into the `_drafts` folder so @geraldb can more easily publish it.

[2020-12-06 09:38] geraldb commented on #28
Reads / looks great thanks.    Yes, if you don't mind it would be a great help to add the .md write-up and images in the _drafts folder - otherwise I have to try to reconstruct the text from your issue here.  Thanks again. Cheers. Prost.

[2020-12-06 10:29] adrianthedev commented on #28
Yeah, it makes sense!
I'm AFK right now but I'll make a PR tmr.

Thanks!

[2020-12-08 07:37] adrianthedev commented on #28
https://github.com/planetruby/gems/pull/58 Done and done!

Thank you!

[2020-12-08 07:45] geraldb commented on #28
Thank you! Cheers. Prost.

[2020-12-08 09:23] geraldb commented on #18
@rlgreen91  Hello, a little reminder - 2 days to go! Any news on your Parslet write-up?  As the first contributor your post is especially cherished.  No worries - last minute is ok. Cheers. Prost.

[2020-12-09 09:27] geraldb commented on #18
@rlgreen91  Hello, another little reminder - 1 day to go!  Any news? If you need more time - you are welcome to pick a later day.   Good luck. Looking forward to learning more about Parslet. Cheers. Prost.

[2020-12-09 09:31] geraldb commented on #20
Your second post is now live, see <http://planetruby.github.io/gems/2020/09-thegamesdb>.  Thanks again for your great write-ups. Keep it up. Cheers. Prost.

[2020-12-09 09:31] #20 closed

[2020-12-09 17:10] rlgreen91 commented on #18
Hi Gerald,

I hope you're doing well.  I'm actually doing one last read through for
the tutorial to make sure it's good to go, but I took a look at the
other posts, and mine seems to be a lot longer.  My tutorial covers a
very basic example, but I do spend time walking the user through how you

might design a parser.  Is that alright?  Or should I alter it to
reflect how the other posts generally

[2020-12-09 17:43] geraldb commented on #18
No worries if it is longer - that's great. A great introduction for a parser even better. Looking forward. No worries about the other articles do your own thing. Thanks for the update.

[2020-12-09 20:51] geraldb commented on #18
FYI: I am offline for today (it's 10pm here in Austria). It would be great to publish your write-up tomorrow (Th Dec/10) if you point me to the text source in Markdown (or if you can send in a pull request).  If you publish on Medium I can add the link back to your article (from the version posted here).  Thanks.

[2020-12-09 21:39] rlgreen91 commented on #18
Ok, I know you probably won't see this until tomorrow morning, but I
will have the PR ready for you.  Hope you have a good night.

Regards,

Rachel Green

On December 9, 2020, GitHub <notifications@github.com> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/planetruby/gems/issues/18#issuecomment-742041559>,

or unsubs

[2020-12-10 08:28] geraldb commented on #18
Sorry no pressure - I moved you to the backup / sunday double list - you can now get your write-up published any later day. Let us know when you are ready - still looking forward learning more about parslet. Cheers. Prost.

[2020-12-10 10:08] rlgreen91 commented on #18
Oh, sure, no problem.  I have it ready now actually.  Let me upload it.

[Here's a link to the Gist](https://gist.github.com/rlgreen91/2e9f61042233671a307d55bc282472e1).  Let me know if you want me to make some more changes - otherwise, it's ready to go!  Thanks again for letting me participate in this, I really appreciate it.  Hope your week is going well.

[2020-12-10 10:36] geraldb commented on #18
Sorry for my misunderstanding.   Looks / reads great.  Thank you!  I try to get it all added to the calendar and published on day 10 in the next hour. Cheers. Prost.

[2020-12-10 11:42] geraldb commented on #46
@philnash  I have published on day 10 the first (double) bonus post.  I'd say lets do it again with pwned, that is, you are welcome to pick any (upcoming) day and you write-up gets posted. Looking forward. Cheers. Prost.

[2020-12-10 12:15] geraldb commented on #18
@rlgreen91  Sorry to reopen - I can't find anything about SPQR  (the closest that was making sense was Student Questions for Purposeful Reading  but it's SQPR).   Can you help out, please - what is the spelled out name / meaning for SPQR in your write-up?   Thank you. Cheers.

[2020-12-11 02:14] rlgreen91 commented on #18
Sorry I didn't see this earlier!  Honestly, there's not really much

about SPQR out there; I don't even know what it stands for.  I just know
that it's a syntax for mathematical notation that can be used in XML
files.  I can't even find a webpage about it - seems to be just one of
those unknown corners that never made it onto the Internet.  I know it's
probably too late to include this in the arti

[2020-12-11 08:30] geraldb commented on #18
Thanks for clearing the SPQR  mystery up. I will correct the assumed wrong acronym error change the SQPR format in the text simply to XML format and the SPQRParser to Parser.  Sorry for being somehow obsessed with this detail.    Again thanks for your great (parslet) write-up and taking the time. Cheers. Prost.

[2020-12-11 08:30] #18 closed

[2020-12-15 13:39] geraldb commented on #28
Thanks again - your write-up is now live / published, see <https://planetruby.github.io/gems/2020/15-avo>. Cheers. Prost.

[2020-12-15 13:39] #28 closed

[2020-12-15 13:43] geraldb commented on #41
@igorkasyanchuk  A little reminder 2 days to go! Any updates on your any_login write-up? Cheers. Prost.

[2020-12-15 13:45] geraldb commented on #24
@marcoroth   Litter reminder - 5 days to go!  Any updates on your LHS and LHC write-up?

[2020-12-15 13:47] geraldb commented on #29
@pienkowb  A little reminder - 7 days to go!  Any updates on your active-record-events gem write-up?

[2020-12-15 13:48] geraldb commented on #44
@janxious   Little reminder - 8 days to go!  Any updates on your archival_record gem write-up?

[2020-12-15 13:54] marcoroth commented on #24
Thanks @geraldb for the reminder. I planned to work on it on Friday, so I can open the PR by Saturday at the latest. Or do you need it earlier?

[2020-12-15 13:58] geraldb commented on #24
Thanks for the update.  Great plan. No worries.  Saturday  (or last minute) is all ok / fine.  Looking forward, Thanks again.

[2020-12-15 14:11] pienkowb commented on #29
Hi @geraldb! I already started writing the article. I'm planning to finish it this weekend. What's the deadline? Dec 21st?

[2020-12-15 14:17] geraldb commented on #29
Thanks for the update. Great plan. There is no deadline (last chance is Dec/24th).  Sorry - no pressure.  Last minute is ok / fine. Looking forward. Thanks again for taking the time to highlight the active-record-events gem. Cheers. Prost.

[2020-12-15 15:43] janxious commented on #44
It's on my calendar for writing this week, but I've been distracted because I am covid quarantining right now. 🤷

[2020-12-15 16:41] geraldb commented on #44
Thanks for the update. Sorry - no pressure.  Stay healthy.

[2020-12-16 11:37] geraldb commented on #41
@igorkasyanchuk   A little reminder 1 day to go!   Your draft posted here looks good - maybe from the readme you can add the tip on how to disable in production and the section on auth gem integratation (devise / authlogic) - You're welcome to cut-n-paste (it's your readme :-).   Looking forward. PS: Would be great if can send in a pull request.   If you need more time,  please say so.

[2020-12-16 11:52] igorkasyanchuk commented on #41
Hello @geraldb, just made some modifications to my previous comment and added more information about the gem. I hope it will be enough! Thank you!

[2020-12-16 13:04] geraldb commented on #41
Thanks for the update.   I try to to polish the write-up a little tomorrow   - maybe if you don't mind you can add the bonus tip on how to disable in production (from your readme) than I don't have to do it  :-)   Otherwise the (minimum) word count is now good.    I add a link to your great (live) demo app (and source) - or you are welcome to do it :-).    Thanks for the great gem.

[2020-12-17 14:07] geraldb commented on #41
FYI: The any_login write-up is now live / published, see <https://planetruby.github.io/gems/2020/17-any_login>. I added some more edits than usual. I hope you like the turbolinks joke / fun. Cheers. Prost.

[2020-12-17 14:07] #41 closed

[2020-12-20 07:45] #24 closed

[2020-12-20 07:48] geraldb commented on #42
Hello, just a reminder - no worries - no pressure - I am happy to publish your write-up once you think it's ready  in any of the upcoming days (left). Last day is the 25th. Again thanks for taking the time highlighting addressable - a fantastic hidden gem. Cheers. Prost.

[2020-12-20 07:52] geraldb commented on #46
@philnash    Hello, just a reminder - no worries - no pressure - I am happy to publish your write-up of pwned in any of the upcoming days (left). Last day is the 25th. Let me / us know how is it going?  Again thanks for taking the time highlighting the pwned gem. Cheers. Prost.

[2020-12-21 11:09] #29 closed

[2020-12-21 17:42] geraldb commented on #42
Thanks your write-up is now published, see <https://planetruby.github.io/gems/2020/21-addressable>.

[2020-12-21 17:42] #42 closed

[2020-12-22 08:37] geraldb commented on #44
@janxious  Little reminder - 1 day to go! I hope you're doing well. No pressure.  If you need more time let me know (posting possible until 25th).  Stay healthy. Cheers. Prost.

[2020-12-22 08:39] geraldb commented on #45
@codenamev   A little reminder - two days to go!  How's your write-up coming along? Any updates?  Looking forward to publishing and highlighting git-reflow. Cheers. Prost.

[2020-12-22 08:41] geraldb commented on #46
@philnash   Looks like I am talking to myself.   You are more than welcome to get your pwned Gem write-up published any day  - 3 more days to go / chose!    Dec 25th is that last day until next year. Cheers. Prost.

[2020-12-22 17:22] codenamev commented on #45
Heya 👋  I'll have something to you by EOD.  Thanks for the reminder 😃

[2020-12-23 12:54] geraldb commented on #44
@janxious   It's your day -  no worries, no pressure - I am happy to publish your write-up up until the 25th.  Let me know if write-up something.  Stay healthy. Cheers. Prost.

[2020-12-24 09:58] #45 closed

[2020-12-25 07:33] geraldb commented on #46
The end. Thanks. See you next year. Prosit 2021!

[2020-12-25 07:33] #46 closed

[2020-12-25 07:33] geraldb commented on #44
The end. Thanks. See you next year. Prosit 2021!

[2020-12-25 07:33] #44 closed

[2020-12-25 07:36] geraldb commented on #14
Sorry that the gem of the week series stopped sometime in 2015 - All the best for the new year. Prosit 2021!

[2020-12-25 07:36] #14 closed

[2020-12-25 07:38] geraldb commented on #13
The website has been rebuilt / redesigned - can you try / check again if you find any errors over HTTPS?

[2020-12-25 07:42] geraldb commented on #2
This site needs help and money. You're welcome to contribute :-D.   Happy new year! Prosit 2021!

[2020-12-25 07:42] #2 closed

[2020-12-25 09:18] geraldb commented on #46
@swanson I hope this message will reach you - Thanks again for your great ruby advent calendar support / help  and thanks again for signing up all those rubyists and bringing in gem write-ups (incl. leading by example with your own write-ups incl. the kick-off post).   Happy holidays. Merry christmas. Cheers. Prosit 2021!

[2020-12-25 16:55] swanson commented on #46
@geraldb Merry Christmas to you as well. Happy to help, it was fun! Thank you for your daily work in editing and posting. ❤️

[2020-12-25 16:58] swanson commented on #46
![image](https://user-images.githubusercontent.com/56947/103139265-736e7180-46a8-11eb-8446-67238342f259.png)

Huge success for the calendar, nearly 25,000 people saw it!

[2020-12-26 08:46] nogweii commented on #13
No errors any more!

I do notice that the canonical URL is set to HTTP from the SEO plugin. However, Github Pages will redirect HTTP to HTTPS, so it probably isn't that big of a deal.

[2020-12-26 08:46] #13 closed

[2020-12-29 22:37] logicminds opened #65 "Blockchain Day 1 - Crypto Mining gems"
## Summary

I built an entire CLI tool for managing crypto mining rigs.  My love for the CLI, simplicity of ruby and mining crypto forced me into crafting a specialize tool/library for mining crypto.  The main CLI tool is called [Crossbelt](https://crossbelt.blockops.party) (not opensource).  This CLI tool packs a lot of features used for configuring the rig, status, metrics, profit/loss statement

[2020-12-29 22:46] geraldb commented on #65
Your post is welcome if you write-up the open source compute_unit gem. You are welcome to talk about  Crossbelt but if may say not as the "core" content for the post.  Let me if that works for you or let me know what you think and day 1 is yours. Welcome. Cheers. Prost.

[2020-12-29 22:51] logicminds commented on #65
Is there an example of a write up?  I would have wrote something up but I couldn't not find any instructions in the readme.

[2020-12-29 22:53] geraldb commented on #65
The examples are all the 25+ from the advent calendar 2020, see <https://github.com/planetruby/gems/tree/master/2020>  or  the 10+ (older write-ups) from the gems of the week series, see <https://github.com/planetruby/gems/tree/master/week>. Every file in markdown is a write-up / article /post.

[2020-12-29 22:55] logicminds commented on #65
Is there a special folder I need to put this in?  `blockchain/01-compute_unit.md`

[2020-12-29 22:59] geraldb commented on #65
I see - sorry if you are the first there is no /blockchain folder on the first day.   If you send a pull request it would be great (the best) in the `_drafts`  folder/ directory (that is possible anytime).  Good point - sorry (git removes empty directories) - I added the `_drafts` folder back with your Q&A in the readme.

[2020-12-29 23:17] geraldb commented on #65
Let me know if that makes sense or if you have other questions and if I can put you down for day 1. Cheers. Prost.

[2020-12-29 23:54] logicminds commented on #65
Great, I'll write this up by Friday.

[2020-12-30 00:35] geraldb commented on #65
Fantastic. Day 1 is yours. I updated the page. Looing forward. Cheers. Prost.

[2021-01-03 16:37] geraldb commented on #65
FYI: Your write-up is now live <https://planetruby.github.io/gems/blockchain/01-compute-unit>. Thanks again. Prosit 2021! Cheers. Prost.

[2021-01-03 16:37] #65 closed

[2021-01-24 23:04] AndyObtiva opened #67 "Glimmer Days - Gem Series - Yes, You Can!"
Hi, do you guys plan to do a GUI gem advent? If so, I got 3 libraries to share:
- https://github.com/AndyObtiva/glimmer-dsl-swt
- https://github.com/AndyObtiva/glimmer-dsl-opal
- https://github.com/AndyObtiva/glimmer-dsl-tk

Thanks and Godspeed.

[2021-01-25 08:24] geraldb commented on #67
Hello,  the advent series runs in december, thus, the next advent is in december 2021!

Anyways, guest post always more than welcome.   If you write up three articles for swt, opal, tk and maybe something more - I am more than happy to publish in the gem of the week series or in your own little glimmer series.  Cheers. Prosit 2021!

[2021-01-25 21:36] AndyObtiva commented on #67
Thank you for explaining.

I am sorry I misunderstood your mention of Advent since I saw gems post-Christmas, and thought you had changed the meaning of Advent to something more specific to Ruby that is all year long. I should have noticed you didn't use the word Advent post-December. I am a Lutheran and I still made that mistake. Shame on me.

I submitted a Pull Request:
https://github.com/planet

[2021-01-25 21:47] geraldb commented on #67
No worries.    The comment from the merged pull request:   Wow. I try to publish your write-ups in a four day Glimmer series starting in the next days (day by day). If all works on Wednesday. The articles usually start with a short bio about the author - do you have something?
If not I try to use your short bio from the github page. Cheers. Prost.

If you want to edit or change something on the wr

[2021-01-25 22:20] AndyObtiva commented on #67
OK, I just added a very short bio on the Pull Request: https://github.com/planetruby/gems/pull/68

Godspeed.

[2021-01-26 10:24] geraldb commented on #67
The first article in the Glimmer Days series is now published / live, see <https://planetruby.github.io/gems/glimmer/01-glimmer>   Note: I edited the article a little (mostly changing DSL to language). I am not much of a fan of acronyms :-). I hope you don't mind. Cheers.

[2021-01-26 14:26] AndyObtiva commented on #67
Thank you.

[2021-01-26 14:35] AndyObtiva commented on #67
I only spotted one thing that needs to be changed by the way:
[code]
Should be:
[code]
Thanks again. I look forward to seeing the other articles posted as well.

Cheers and Godspeed.

[2021-01-26 14:48] geraldb commented on #67
You are welcome.  Thanks for the change I try to fix with the next update on day 2.  Cheers. Prost. PS: I posted to reddit too, see <https://old.reddit.com/r/ruby/>.

[2021-01-29 09:16] geraldb commented on #67
The fourth and last write-up is the Glimmer Days series is now live / published, see <https://planetruby.github.io/gems/glimmer/04-glimmer-dsl-opal>   That concludes the series. I tried my best to promote Glimmer. Keep up the great work. Prosit 2021! Cheers.

[2021-01-29 09:16] #67 closed

[2021-01-29 19:07] AndyObtiva commented on #67
Yes, I've been following the publishing of the articles.

Thank you and Godspeed.

[2021-01-29 19:18] geraldb commented on #67
Thanks again for your write-ups.  I am not a professional editor or such - I just unlinked the text a little and tried to use less acronyms - especially DSL, DSL, DSL :-) and I added a new headline / title to fit in with the series.   I hope you don't mind.   Keep up the great work (incl. the great documentation with lots of examples) .  Amazing stuff. Unfortunately, I have too much going on so I